{
  "extends": 'eslint-config-airbnb',
  "env": {
  	"browser" : true,
  	"jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    linebreak-style: 0,
    'no-console': 'off'
  },
  "plugins": [
      "babel"
  ],
}
